<!--===============================================-->
<!--    Modal for language selection-->
<!--===============================================-->
<!-- Modal-->
<div class="overflow-hidden">
  <div class="modal fade fade-in" id="languageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xs mx-auto" role="document">
      <div class="modal-content bg-black">
        <div class="modal-body text-center p-0">
          <button class="btn-close text-white position-absolute top-0 end-0 times-icon mt-2 me-2 p-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          <ul class="list-unstyled my-0 py-4 font-secondary">
            <li><a class="text-white fw-bold pt-1 d-block" href="../homes/default.html">English</a></li>
            <li><a class="pt-1 d-block text-body-tertiary" href="#!">Français</a></li>
            <li><a class="text-body-tertiary pt-1 d-block" href="../pages/rtl.html">عربى</a></li>
            <li><a class="pt-1 d-block text-body-tertiary" href="#!">Deutsche</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/anchorjs/anchor.min.js"></script>
<script src="/vendors/is/is.min.js"></script>
<script src="../vendors/isotope-layout/isotope.pkgd.min.js"> </script>
<script src="../vendors/isotope-packery/packery-mode.pkgd.min.js"> </script>
<script src="/vendors/swiper/swiper-bundle.min.js"></script>
<script src="/vendors/rellax/rellax.min.js"> </script>
<script src="/vendors/countup/countUp.umd.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbaQGvhe7Af-uOMJz68NWHnO34UjjE7Lo&callback=initMap" async></script>
<script src="/vendors/plyr/plyr.polyfilled.min.js"></script>
<script src="../vendors/typed.js/typed.umd.js"></script>
<script src="/vendors/bigpicture/BigPicture.js"> </script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<script src="/vendors/progressbar/progressbar.min.js"></script>
<script src="/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/vendors/gsap/gsap.js"></script>
<script src="/vendors/gsap/customEase.js"></script>
<script src="/vendors/gsap/drawSVGPlugin.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics-->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-122907869-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-122907869-1');
</script>
<script src="/assets/js/theme.js"></script>

</body>

</html>