<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/anchorjs/anchor.min.js"></script>
<script src="/vendors/is/is.min.js"></script>
<script src="../vendors/isotope-layout/isotope.pkgd.min.js"> </script>
<script src="../vendors/isotope-packery/packery-mode.pkgd.min.js"> </script>
<script src="/vendors/swiper/swiper-bundle.min.js"></script>
<script src="/vendors/rellax/rellax.min.js"> </script>
<script src="/vendors/countup/countUp.umd.js"> </script>
<script src="/vendors/plyr/plyr.polyfilled.min.js"></script>
<script src="../vendors/typed.js/typed.umd.js"></script>
<script src="/vendors/bigpicture/BigPicture.js"> </script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<script src="/vendors/progressbar/progressbar.min.js"></script>
<script src="/vendors/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/vendors/gsap/gsap.js"></script>
<script src="/vendors/gsap/customEase.js"></script>
<script src="/vendors/gsap/drawSVGPlugin.js"></script>
<script src="/assets/js/theme.js"></script>

</body>

</html>