<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-black py-6 font-secondary" id="bicycleSignUp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-5 pe-lg-8">
        <h4 class="text-white text-opacity-85 mb-4">join the movement</h4><a class="d-inline-block" href="https://www.facebook.com/profile.php?id=61591817481705" target="_blank"><span class="fa-stack fa-stack-size me-2 text-dark border rounded-circle bg-body fs-8"><i class="fab fa-facebook-f fa-stack-1x"></i></span></a><a class="d-inline-block" href="https://www.instagram.com/phase1ottawa/" target="_blank"><span class="fa-stack fa-stack-size me-2 text-dark border rounded-circle bg-body fs-8"><i class="fab fa-instagram fa-stack-1x"></i></span></a><a class="d-inline-block" href="https://www.youtube.com/channel/UC2IsoxNoegFDvPntwqUNTzA" target="_blank"><span class="fa-stack fa-stack-size text-dark border rounded-circle bg-body fs-8"><i class="fab fa-youtube fa-stack-1x"></i></span></a>
      </div>
      <div class="col mt-6 mt-lg-0">
        <div class="row">
          <div class="col-6 col-sm-4">
            <h4 class="text-white text-opacity-85 mb-4">about us</h4>
            <ul class="list-unstyled">
              <li class="py-1"><a class="text-body-tertiary" href="/programs#defaultServices">Strategy</a></li>
              <li class="py-1"><a class="text-body-tertiary" href="/about#defaultMembers">Our Team</a></li>
              <li class="py-1"><a class="text-body-tertiary" href="/#digitalPartners">Partners</a></li>
              <li class="py-1"><a class="text-body-tertiary" href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-4">
            <h4 class="text-white text-opacity-85 mb-4">events</h4>
            <ul class="list-unstyled">
              <li class="py-1"><a class="text-body-tertiary" href="/events#eventInformation">Information</a></li>
              <li class="py-1"><a class="text-body-tertiary" href="/contact">Registration</a></li>
              <li class="py-1"><a class="text-body-tertiary" href="/events#page-portfolio">Highlights</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-4 mt-0">
            <h4 class="text-white text-opacity-85 mb-4">programs</h4>
            <ul class="list-unstyled">
              <li class="py-1"><a class="text-body-tertiary" href="https://airtable.com/appL4b5rbVYNncQNx/pagHQRfXWMAw0TgGM/form?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAZXh0bgNhZW0CMTEAc3J0YwZhcHBfaWQPOTM2NjE5NzQzMzkyNDU5AAGnz53nFoogqlv41t0IG8_7bB9y7xFP-vjK9jIMtAV4y25mo14eVawcLHHlf_c_aem_ukxl9nadPFRIpXN26p5iiQ" target="_blank">Registration</a></li>
              <li class="py-1"><a class="text-body-tertiary" href="/programs#carousel-programs">Upcoming</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
 
<!--===============================================-->
<!--    Footer-->
<!--===============================================-->
<footer class="footer bg-black text-body-secondary py-4 font-secondary text-center overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 order-lg-2 position-relative"><a class="indicator indicator-up" href="#top"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a></div>
      <div class="col-lg-4 text-lg-start mt-4 mt-lg-0">
        <p class="fs-10 text-uppercase ls fw-bold mb-0">Copyright © 2025 Sparrow™ inc.</p>
      </div>
      <div class="col-lg-4 text-lg-end order-lg-2 mt-2 mt-lg-0">
        <p class="fs-10 text-uppercase ls fw-bold mb-0">Launched by Designetwork</p>
      </div>
    </div>
  </div>
</footer>