    <nav class="fancynavbar fancynavbar-expand-lg" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-37},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-trigger="scroll" data-exclusive="true">
      <div class="fancynavbar-togglerbar" data-onscroll-fade-in="data-onscroll-fade-in"><a class="fancynavbar-brand" href="/"><img class="fancynavbar-brand-img" src="/assets/img/phase1_logo_invert.png" alt="" width="30" height="30" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll" />

          <!--You can use icon or text logo as well-->
          <!--<span class='fab fa-superpowers fs-6'></span>-->
          <!--<span class='logo-sparrow'>S</span>-->
        </a>
        <div class="fancynavbar-toggler">
          <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
            <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
            <path id="path-middle" d="M20,32h30"></path>
            <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
          </svg>
        </div>
        <div class="fancynavbar-addon fancynavbar-addon-height" data-zanim-lg='{"from":{"opacity":1,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"><a class="fancynavbar-addon-item" target="_blank" href="https://www.instagram.com/phase1ottawa/?hl=en"><span class="fab fa-instagram"></span></a>
        </div>
      </div>
      <div class="fancynavbar-collapse">
        <ul class="fancynavbar-nav">

          <li class="fancynav-item"><a class="fancynav-link" href="/"><span class="fancynav-link-content">Home</span></a></li>
          <li class="fancynav-item"><a class="fancynav-link" href="/about"><span class="fancynav-link-content">About Us</span></a></li>
          <li class="fancynav-item"><a class="fancynav-link" href="/events"><span class="fancynav-link-content">Events</span></a></li>
          <li class="fancynav-item"><a class="fancynav-link" href="/programs"><span class="fancynav-link-content">Programs</span></a></li>
          <li class="fancynav-item"><a class="fancynav-link" href="/contact"><span class="fancynav-link-content">Contact</span></a></li>
        </ul>
      </div>
    </nav>