<%- include("0_header.ejs") %>
<%- include ("0_nav.ejs") %>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">
  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div> </div>
        <div></div>
        <div></div>
        <div></div>
        <div> </div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0 text-center" id="bigcartel-header">

    <div class="bg-holder overlay overlay-1" style="background-image:url(/assets/img/headers/bigcartel.jpg);" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
      <div class="yt-video" data-youtube-embed='{"videoId":"C52wkX97l6M","startSeconds":0,"endSeconds":25}'></div>
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row min-vh-100 flex-center py-8">
        <div class="col-lg-7" data-zanim-timeline='{"delay":0.6}' data-zanim-trigger="scroll"><img class="img-fluid" src="/assets/img/bigcartel1.png" alt="" data-zanim-xs='{"delay":0,"from":{"opacity":0},"to":{"opacity":1}}' />
          <div class="overflow-hidden mb-4">
            <p class="text-white px-lg-6 font-secondary" data-zanim-xs='{"delay":0}'>Working to inspire a movement that will shape an entire generation of dreamers, creators, and difference makers for the better.</p>
          </div><a class="cursor-pointer" href="#!" data-bigpicture='{"ytSrc":"CkBJkE7bb4Y"}'>
            <svg class="mx-auto d-block" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19" data-zanim-svg='{"duration":2,"ease":"CubicBezier"}' data-zanim-svg-trigger="scroll">
              <defs>
                <style>
                  .play-path {
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 12px;
                  }
                </style>
              </defs>
              <g>
                <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
              </g>
            </svg></a>
        </div>
      </div><a class="indicator indicator-down" data-zanim-timeline='{"delay":2}' data-zanim-trigger="scroll" href="#target-down"><span class="indicator-arrow indicator-arrow-one border-300" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.25}'></span><span class="indicator-arrow indicator-arrow-two border-300" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.5}'></span></a>
    </div>
    <!-- end of .container-->

  </section>
  <div id="target-down"></div>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-lg-7 py-xl-8 mt-0 mb-0 bg-light" id="ecommerceHeader">

    <div class="container-fluid">
      <div class="row">
        <div class="offset-xl-3 col px-4" style="max-width: 42.81rem">
          <h1 class="display-4 fs-6 fs-sm-5 fs-md-4">a <span class="font-base fst-italic fw-normal px-2 px-md-3">professional development hub</span>for <br class="d-none d-sm-block" /> Black youth</h1>
          <p class="mt-4 mb-0">Through cohort-based programming, creative exploration, and real-world skill-building, Phase 1 helps youth identify their goals, build confidence, and take the first steps toward meaningful careers. Whether participants are interested in leadership, the arts, tech, or entrepreneurship, all of our offerings are rooted in a shared mission: to prepare Black youth for long-term success.</p>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->



  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pb-0 pt-5" id="StudioFeatures1">

    <div class="container-fluid px-lg-10 px-5">
      <div class="row justify-content-center text-center">
        <div class="col-lg-9 col-xl-8">
          <h2 class="text-decoration-underline mb-3 fs-6 fs-sm-5">program streams</h2>
          <p class="lead text-body-tertiary fst-italic">When we say our programs help Ottawa's Black youth explore their potential and and prepare for the future, we mean it.</p>
        </div>
      </div>
      <div class="row pt-6">
        <div class="col-md-6 col-lg pe-md-6"><img src="../assets/img/icons/icon-teamwork.svg" alt="" height="70" />
          <h3 class="mt-4 mb-2">creative development</h3>
          <p class="text-justify">From photography and videography to theatre and digital storytelling, our programs are designed to build confidence, spark innovation, and introduce participants to careers in the creative industries.</p>
          <h4 class="mt-4">opportunities</h4>
          <ul class="bullet-inside ps-0 font-secondary">
            <li>Photography Workshops</li>
            <li>Video Production</li>
            <li>Digital Storytelling</li>
            <li>3-D Modelling in CAD</li>
            <li>Creative Portfolio Building</li>
          </ul>
        </div>
        <div class="col-md-6 col-lg mt-6 mt-md-0 pe-md-6"><img src="../assets/img/icons/icon-startup.svg" alt="" height="70" />
          <h3 class="mt-4 mb-2">personal development</h3>
          <p class="text-justify">Our kids learn how they can build confidence, strengthen communication skills, and learn how to navigate challenges, form healthy relationships, and take initiative in their personal lives.</p>
          <h4 class="mt-4">opportunities</h4>
          <ul class="bullet-inside ps-0 font-secondary">
            <li>Leadership Workshops</li>
            <li>Goal-Setting Environment</li>
            <li>Productive Communication</li>
            <li>Collaborative Relationships</li>
            <li>Conflict Resolution</li>
          </ul>
        </div>
        <div class="col-md-6 col-lg mt-6 mt-lg-0 pe-md-6"><img src="../assets/img/icons/icon-target.svg" alt="" height="70" />
          <h3 class="mt-4 mb-2">professional development</h3>
          <p class="text-justify">Phase 1 closes the opportunity gap by providing design education, practical knowledge, career guidance, and access to resources that many young people in our community are often excluded from.</p>
          <h4 class="mt-4">opportunities</h4>
          <ul class="bullet-inside ps-0 font-secondary">
            <li>Professional Mentorship</li>
            <li>Community Engagement</li>
            <li>Career Exploration</li>
            <li>Technical Skills Training</li>
            <li>Post-Secondary Planning</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-8 py-lg-11 mt-8 text-center overflow-hidden" id="Studio-Funfact">

    <div class="bg-holder overlay overlay-1 parallax" style="background-image:url(../assets/img/studio-05.jpg);" data-parallax="" data-rellax-percentage="0.5" data-rellax-speed="-3">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="text-white"><span class="font-secondary fw-bold display-4" data-countup='{"endValue":"116"}'>116</span>
            <p class="fst-italic">Graduates across six </br>different programs</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-3 mt-sm-0">
          <div class="text-white"><span class="font-secondary fw-bold display-4" data-countup='{"endValue":"30"}'>30</span>
            <p class="fst-italic">Youths that have received a </br>paid opportunity after joining </br> our program</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
          <div class="text-white"><span class="font-secondary fw-bold display-4" data-countup='{"endValue":"1500"}'>1500</span><span class="font-secondary fw-bold display-5">+</span>
            <p class="fst-italic">Youths reached from </br>programs and events</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-3 mt-lg-0">
          <div class="text-white"><span class="font-secondary fw-bold display-4" data-countup='{"endValue":"100000"}'>100000</span><span class="font-secondary fw-bold display-5">+</span>
            <p class="fst-italic">Total impressions</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-3 py-md-5" id="LandingFeatures">
    <div class="container-fluid">
      <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="col-lg-6 col-xl-3 mt-3 mt-xl-0 pe-lg-2" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'>
          <div class="hoverbox min-vh-50 h-100 py-6">
            <div class="bg-holder rounded" style="background-image:url(../assets/img/workout-1.jpg);">
            </div>
            <!--/.bg-holder-->

            <div class="hoverbox-content d-flex bg-black justify-content-center rounded">
              <div class="align-self-center px-4 px-lg-6 text-center"><span class="fa fa-signal text-white fs-7 mb-2"></span>
                <h4 class="mb-1 text-white">track &amp; analyze</h4>
                <p class="px-3 font-secondary text-body-tertiary">Track your daily workout and analyze data to get a better fitness</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3 mt-3 mt-xl-0 px-xl-2 ps-lg-2" data-zanim-xs='{"delay":0.2,"animation":"zoom-in"}'>
          <div class="position-relative min-vh-50 h-100">
            <div class="bg-holder rounded" style="background-image:url(../assets/img/workout-2.jpg);">
            </div>
            <!--/.bg-holder-->
            <a class="position-absolute bottom-0 end-0 mb-3 me-4" href="#!" data-bigPicture='{"ytSrc":"XtyLfJa3clI"}'>
              <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19" data-zanim-svg='{"duration":2,"ease":"CubicBezier","trigger":"scroll"}'>
                <defs>
                  <style>
                    .play-path {
                      fill: none;
                      stroke: #ffffff;
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 12px;
                    }
                  </style>
                </defs>
                <g>
                  <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
                </g>
              </svg></a>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3 mt-3 mt-xl-0 px-xl-2 pe-lg-2" data-zanim-xs='{"delay":0.3,"animation":"zoom-in"}'>
          <div class="position-relative min-vh-50 h-100 py-6 d-flex justify-content-center">
            <div class="bg-holder overlay overlay-0 rounded" style="background-image:url(../assets/img/workout-8.jpg);">
            </div>
            <!--/.bg-holder-->

            <div class="position-relative px-4 px-xl-5 text-center align-self-center w-100"><span class="far fa-compass text-white text-opacity-85 fs-5 mb-4"></span>
              <h4 class="mb-2 text-white">Explore &amp; compete</h4>
              <p class="font-secondary text-body-tertiary">plan your next goal with sparrow segments, routes, maps, clubs, challenges and race courses.</p><a class="btn btn-link text-danger fw-bold" href="#!">checkout pro &xrarr;</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3 mt-3 mt-xl-0 ps-lg-2" data-zanim-xs='{"delay":0.4,"animation":"zoom-in"}'>
          <div class="position-relative min-vh-50 h-100 py-6">
            <div class="bg-holder rounded" style="background-image:url(../assets/img/workout-3.jpg);">
              <div class="yt-video" data-youtube-embed='{"videoId":"wcWmiJw0UIc","startSeconds":0,"endSeconds":60}'></div>
            </div>
            <!--/.bg-holder-->

          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="text-center py-5 py-lg-7 font-secondary" id="digitalPartners">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <h3 class="mb-2">proud to be working with</h3>
          <p>Since launching, Phase 1 has built strong relationships with local community organizations, educators, mentors, creatives, and industry partners who share our commitment to supporting Black youth.</p>
        </div>
      </div>
      <div class="row justify-content-center mt-6">
        <div class="col-6 col-md-4 col-lg-3 d-flex flex-center">
          <div class="bg-light p-4 p-sm-6 h-100 rounded"><img class="logo-grid" src="../assets/img/Partner Logos/Website Ready Files/nandos.webp" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 d-flex flex-center">
          <div class="bg-light p-4 p-sm-6 h-100 rounded"><img class="logo-grid" src="../assets/img/Partner Logos/Website Ready Files/ontarioTrilliumFoundation.webp" alt="" data-zanim-xs='{"delay":0.2,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 d-flex flex-center mt-4 mt-md-0">
          <div class="bg-light p-4 p-sm-6 h-100 rounded"><img class="logo-grid" src="../assets/img/Partner Logos/Website Ready Files/foundationForBlackCommunities.webp" alt="" data-zanim-xs='{"delay":0.3,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 d-flex flex-center mt-4 mt-lg-0">
          <div class="bg-light p-4 p-sm-6 h-100 rounded"><img class="logo-grid" src="../assets/img/Partner Logos/Website Ready Files/ottawaPublicHealth.webp" alt="" data-zanim-xs='{"delay":0.4,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 d-flex flex-center mt-4">
          <div class="bg-light p-4 p-sm-6 h-100 rounded"><img class="logo-grid" src="../assets/img/Partner Logos/Website Ready Files/valiantVille.webp" alt="" data-zanim-xs='{"delay":0.5,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 d-flex flex-center mt-4">
          <div class="bg-light p-4 p-sm-6 h-100 rounded"><img class="logo-grid" src="../assets/img/Partner Logos/Website Ready Files/brittaniaWoodsCommunityHouse.webp" alt="" data-zanim-xs='{"delay":0.6,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 d-flex flex-center mt-4">
          <div class="bg-light p-4 p-sm-6 h-100 rounded"><img class="logo-grid" src="../assets/img/Partner Logos/Website Ready Files/somaliCentreForFamilyServices.webp" alt="" data-zanim-xs='{"delay":0.7,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 d-flex flex-center mt-4">
          <div class="bg-light p-4 p-sm-6 h-100 rounded"><img class="logo-grid" src="../assets/img/Partner Logos/Website Ready Files/areXBeBarbering.webp" alt="" data-zanim-xs='{"delay":0.8,"animation":"zoom-in"}' data-zanim-trigger="scroll" /></div>
        </div>
      </div>
      <div class="row mt-6 text-center">
        <div class="col"><a class="btn btn-danger" href="#!">Partnership Inquiries</a></div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-5" id="defaultCta4">

    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <h2>start your design education with us</h2>
          <p>Join the community of young creatives, leaders, and future professionals.</p><a class="btn btn-outline-dark rounded-pill mt-4" href="#!">CONTACT US</a>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

<%- include("0_footer.ejs") %>
<%- include("0_end.ejs") %>