<%- include('0_header.ejs') %>
<%- include('0_nav.ejs') %>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">


  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div> </div>
        <div></div>
        <div></div>
        <div></div>
        <div> </div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-9 py-lg-10" id="page-blog" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">

    <div class="bg-holder" style="background-image:url(../assets/img/heads/aboutUs1.jpg);filter:brightness(.65) saturate(1.2)">
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <div class="overflow-hidden">
            <h1 class="text-white text-decoration-underline" data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">get to know</h1>
          </div>
          <div class="overflow-hidden">
            <h6 class="mb-0 text-white ls-2 text-uppercase" data-zanim-xs='{"delay":0.8}' data-zanim-trigger="scroll">Our story</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <div id="target-down"></div>
  <!-- <section> close ============================-->
  <!-- ============================================-->



  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="text-center pt-5" id="SoftwareFeatures">

    <div class="container">
      <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-5 mt-0 py-0">the problem.</h2>
      <div class="row justify-content-between">
        <div class="col-lg-6 px-lg-6" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll"><img class="rounded-4 img-fluid" src="../assets/img/illustration/problemVector1.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
          <div class="overflow-hidden">
            <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Rising Unemployment Rates</h4>
          </div>
          <div class="overflow-hidden">
            <p data-zanim-xs='{"delay":0.3}'>Black youth face significantly higher unemployment, around <em><strong>20.7% to over 26.4%</strong></em> nationally in 2025, compared to non-racialized youth at <em><strong>around 12.0%.</strong></em></p>
            <p data-zanim-xs='{"delay":0.3}' class="small"><em>Source: Statistics Canada. (2025, August 8). Labour Force Survey, July 2025. The Daily.</em></p>
          </div>
        </div>
        <div class="col-lg-6 px-lg-6 pt-6 pt-lg-0" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll"><img class="rounded-4 img-fluid" src="../assets/img/illustration/problemVector2.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
          <div class="overflow-hidden">
            <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Societal Stereotypes</h4>
          </div>
          <div class="overflow-hidden">
            <p data-zanim-xs='{"delay":0.3}'>Society frequently boxes individuals into roles based on their race, age, and socio-economic backgrounds. Black youth are often pigeonholed into specific career paths.</p>
          </div>
        </div>
        <div class="col-lg-6 px-lg-6 pt-6" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll"><img class="rounded-4 img-fluid" src="../assets/img/illustration/problemVector3.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
          <div class="overflow-hidden">
            <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Educational Gaps</h4>
          </div>
          <div class="overflow-hidden">
            <p data-zanim-xs='{"delay":0.3}'>Mainstream education lacks tailored courses and practical training for diverse design disciplines, particularly for the unique experiences of black communities.</p>
          </div>
        </div>
        <div class="col-lg-6 px-lg-6 pt-6" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll"><img class="rounded-4 img-fluid" src="../assets/img/illustration/problemVector4.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
          <div class="overflow-hidden">
            <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Limited Representation</h4>
          </div>
          <div class="overflow-hidden">
            <p data-zanim-xs='{"delay":0.3}'>Design has long suffered from an under-representation of black professionals which can make mentorship and opportunities for black youths harder.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
    <p class="text-end small"></p>
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="text-center py-0" id="defaultProgressbar">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-3">our goal.</h2>
          <p class="text-body-tertiary fst-italic">To help our youth discover their direction and take their first real steps toward meaningful and impactful design careers.</p>
        </div>
      </div>
      <div class="row align-items-center mt-6">
        <div class="col-md-6 position-relative">
          <div class="progress-circle mb-4" data-progress-circle='{"progress":88,"subText":"<span class=&#39;text-body pt-2&#39;>More Skills & Software<br/>Post Completion</span>"}'> </div>
          <h4>Continual Improvement</h4>
          <p class="px-4">We believe that our youths deserve a safe, supportive, and collaborative environment to develop and learn new skills.</p>
        </div>
        <div class="col-md-6 ps-md-7 text-start mt-8 mt-md-0">
          <div class="progress-line me-4" data-progress-line='{"progress":93,"subText":"Program Completion Rate"}'></div>
          <div class="progress-line me-4 mt-4" data-progress-line='{"progress":96,"subText":"Portfolio/Project Completion"}'></div>
          <div class="progress-line me-4 mt-4" data-progress-line='{"progress":90,"subText":"Participants Reporting Increased Confidence"}'></div>
          <p class="mt-4">Our ideology is to meet youth where they are and support them with the guidance and patience. We believe education should be about teaching each of our children at their own optimal pace.</p><a class="btn btn-outline-dark px-5 mt-5" href="#!">See Our Impact</a>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section id="StudioFeatures" style="padding-bottom:0rem;">

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg"><img class="rounded img-fluid" src="../assets/img/events/networking7.square.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
          <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Empowering Education</h4>
            <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>We believe access to education and skill-building is a right, not a privilege.</p>
            <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">See our <em>Skill Tree</em></a></div>
          </div>
        </div>
        <div class="col-md-6 col-lg mt-6 mt-md-0"><img class="rounded img-fluid" src="../assets/img/heads/youthCenter1.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
          <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Youth at the Center</h4>
            <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>Programs are designed with and for youth — their needs, ideas, and futures lead our direction.</p>
            <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">Our kids in action</a></div>
          </div>
        </div>
        <div class="col-md-6 col-lg mt-6 mt-lg-0"><img class="rounded img-fluid" src="../assets/img/events/picture2.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
          <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Access and Equity</h4>
            <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>We remove systemic barriers by offering free, high-quality programming and holistic support.
            </p>
            <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">Browse programs</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pb-5 text-center" id="defaultMembers">

    <div class="container">
      <div class="row flex-center">
        <div class="col-lg-7 col-xl-6">
          <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-3">meet our staff.</h2>
          <p class="text-body-tertiary fst-italic">Founded by a dedicated team of mentors and professionals, experienced and empassioned in work with the community and youth guidance.</p>
        </div>
        <div class="w-100"></div>
        <div class="col-lg-6 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/heads/team-abdullahi.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Abdullahi Omer</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>Founder - Operations</h6>
          </div>
        </div>
        <div class="col-lg-6 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/heads/team-simeh.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Simeh Bouh</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>Founder - Executive Direction</h6>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/heads/team-mukhtar.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-facebook"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Mukhtar Ismail</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>Founder - Finance</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/heads/team-yusuf.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-instagram"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Yusuf Mohamed</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Gama</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/3.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-linkedin"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Radya Djibril</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Ohm</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.5}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/4.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-instagram"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Asma Hassan</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Pi</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.6}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/5.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-facebook"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Carina Smyth</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Delta</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.7}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/6.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-instagram"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Black Beard</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Fi</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.8}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/7.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-linkedin"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Davy Jones</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Zita</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.9}' data-zanim-trigger="scroll"><img class="rounded img-fluid" src="../assets/img/team/8.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
          <div class="overflow-hidden">
            <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"delay":0.2}'>Pintel &amp; Ragetti</h5>
          </div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"delay":0.3}'>Entertainers</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <%- include('0_footer.ejs') %>
  <%- include('0_end.ejs') %>