<%- include('0_header.ejs') %>
<%- include('0_nav.ejs') %>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">


  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div> </div>
        <div></div>
        <div></div>
        <div></div>
        <div> </div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->



  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0 text-center" id="bigcartel-header">

    <div class="bg-holder overlay overlay-1" style="background-image:url(/assets/img/headers/bigcartel.jpg);" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
      <div class="yt-video" data-youtube-embed='{"videoId":"C52wkX97l6M","startSeconds":0,"endSeconds":25}'></div>
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row min-vh-100 flex-center py-8">
        <div class="col-lg-7" data-zanim-timeline='{"delay":0.6}' data-zanim-trigger="scroll"><img class="img-fluid" src="/assets/img/bigcartel1.png" alt="" data-zanim-xs='{"delay":0,"from":{"opacity":0},"to":{"opacity":1}}' />
          <div class="overflow-hidden mb-4">
            <p class="text-white px-lg-6 font-secondary" data-zanim-xs='{"delay":0}'>The program working to inspire a movement that will shape an entire generation of dreamers, creators, and difference makers for the better.</p>
          </div><a class="cursor-pointer" href="#!" data-bigpicture='{"ytSrc":"CkBJkE7bb4Y"}'>
            <svg class="mx-auto d-block" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19" data-zanim-svg='{"duration":2,"ease":"CubicBezier"}' data-zanim-svg-trigger="scroll">
              <defs>
                <style>
                  .play-path {
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 12px;
                  }
                </style>
              </defs>
              <g>
                <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
              </g>
            </svg></a>
        </div>
      </div><a class="indicator indicator-down" data-zanim-timeline='{"delay":2}' data-zanim-trigger="scroll" href="#target-down"><span class="indicator-arrow indicator-arrow-one border-300" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.25}'></span><span class="indicator-arrow indicator-arrow-two border-300" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.5}'></span></a>
    </div>
    <!-- end of .container-->

  </section>
  <div id="target-down"></div>
  <!-- <section> close ============================-->
  <!-- ============================================-->



  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="text-center pt-5" id="SoftwareFeatures">

    <div class="container">
      <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-5 mt-0 py-0">the problem</h2>
      <div class="row justify-content-between">
        <div class="col-lg-6 px-lg-6" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll"><img class="rounded-4 img-fluid" src="../assets/img/illustration/01.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
          <div class="overflow-hidden">
            <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Rising Unemployment Rates</h4>
          </div>
          <div class="overflow-hidden">
            <p data-zanim-xs='{"delay":0.3}'>Black youth face significantly higher unemployment, around <em><strong>18.6% to over 23%</strong></em> nationally in 2025, compared to non-racialized youth at <em><strong>around 10.8%.</strong></em></p>
          </div>
        </div>
        <div class="col-lg-6 px-lg-6 pt-6 pt-lg-0" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll"><img class="rounded-4 img-fluid" src="../assets/img/illustration/02.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
          <div class="overflow-hidden">
            <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Societal Stereotypes</h4>
          </div>
          <div class="overflow-hidden">
            <p data-zanim-xs='{"delay":0.3}'>Society frequently boxes individuals into roles based on their race, age, and socio-economic backgrounds. Black youth are often pigeonholed into specific career paths.</p>
          </div>
        </div>
        <div class="col-lg-6 px-lg-6 pt-6" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll"><img class="rounded-4 img-fluid" src="../assets/img/illustration/03.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
          <div class="overflow-hidden">
            <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Educational Gaps</h4>
          </div>
          <div class="overflow-hidden">
            <p data-zanim-xs='{"delay":0.3}'>Mainstream education lacks tailored courses and practical training for diverse design disciplines, particularly for the unique experiences of black communities.</p>
          </div>
        </div>
        <div class="col-lg-6 px-lg-6 pt-6" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll"><img class="rounded-4 img-fluid" src="../assets/img/illustration/04.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
          <div class="overflow-hidden">
            <h4 class="mt-4" data-zanim-xs='{"delay":0.2}'>Limited Representation</h4>
          </div>
          <div class="overflow-hidden">
            <p data-zanim-xs='{"delay":0.3}'>Design has long suffered from an under-representation of black professionals which can make mentorship and opportunities for black youths harder.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="text-center py-0" id="defaultProgressbar">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-3">our goal</h2>
          <p class="text-body-tertiary fst-italic">Be surprised seeing the final outcome of your creation with sparrow and want more, no matter the task.</p>
        </div>
      </div>
      <div class="row align-items-center mt-6">
        <div class="col-md-6 position-relative">
          <div class="progress-circle mb-4" data-progress-circle='{"progress":88,"subText":"<span class=&#39;text-body pt-2&#39;>More Power behind<br/>every pixel</span>"}'> </div>
          <h4>Record Breaking in History</h4>
          <p class="px-4">Creating with sparrow is an easier, faster way to get things done. And it makes development even more effortless.</p>
        </div>
        <div class="col-md-6 ps-md-7 text-start mt-8 mt-md-0">
          <div class="progress-line me-4" data-progress-line='{"progress":93,"subText":"Google Page Speed"}'></div>
          <div class="progress-line me-4 mt-4" data-progress-line='{"progress":96,"subText":"Pingdom Page Speed"}'></div>
          <div class="progress-line me-4 mt-4" data-progress-line='{"progress":90,"subText":"Sparrow Performance Matrix"}'></div>
          <p class="mt-4">Combined with the power of bootstrap, sparrow can provide helpful elements to make web design easier and make your website load faster than ever.</p><a class="btn btn-outline-dark px-5 mt-5" href="#!">see comparison</a>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section id="StudioFeatures" style="padding-bottom:0rem;">

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg"><img class="rounded img-fluid" src="../assets/img/studio-01.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
          <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Empowering Education</h4>
            <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>We believe access to education and skill-building is a right, not a privilege.</p>
            <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">See the Studios</a></div>
          </div>
        </div>
        <div class="col-md-6 col-lg mt-6 mt-md-0"><img class="rounded img-fluid" src="../assets/img/studio-02.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
          <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Youth at the Center</h4>
            <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>Programs are designed with and for youth — their needs, ideas, and futures lead our direction.</p>
            <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">Build an Experience</a></div>
          </div>
        </div>
        <div class="col-md-6 col-lg mt-6 mt-lg-0"><img class="rounded img-fluid" src="../assets/img/studio-03.jpg" alt="" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' data-zanim-trigger="scroll" />
          <div class="overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <h4 class="mt-4 mb-2" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Access and Equity</h4>
            <p data-zanim-xs='{"delay":0.3,"animation":"slide-right"}'>We remove systemic barriers by offering free, high-quality programming and holistic support.
            </p>
            <div data-zanim-xs='{"delay":0.4,"animation":"slide-right"}'><a class="btn btn-link ps-0 text-black fw-bold outline-none" href="#!">Learn more</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pb-0 text-center" id="defaultMembers">

    <div class="container">
      <div class="row flex-center">
        <div class="col-lg-7 col-xl-6">
          <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-3">meet the crews</h2>
          <p class="text-body-tertiary fst-italic">A passionate group of experienced designers, developers and programmers motivated to continually reach goals and tackle new challenges</p>
        </div>
        <div class="w-100"></div>
        <div class="col-lg-6 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/9.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Elizabeth Swan</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Lady</h6>
          </div>
        </div>
        <div class="col-lg-6 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.1}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/0.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Jack Sparrow</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Man</h6>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.2}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/1.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-facebook"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Hector Barbossa</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Beta</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.3}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/2.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-instagram"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Tia Dalma</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Gama</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/3.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-linkedin"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Angelica Syrena</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Ohm</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.5}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/4.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-instagram"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Joshame Gibbs</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Pi</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.6}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/5.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-facebook"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Carina Smyth</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Delta</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.7}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/6.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-instagram"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Black Beard</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Fi</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.8}' data-zanim-trigger="scroll">
          <div class="hoverbox"><img class="rounded img-fluid" src="../assets/img/team/7.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
            <div class="hoverbox-content p-3 d-flex align-items-end justify-content-end"><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-twitter"></span></a><a class="text-white" href="#!"><span class="fs-8 ms-2 fab fa-linkedin"></span></a>
            </div>
          </div>
          <div class="overflow-hidden"><a href="../pages/profile.html">
              <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"from":{"y":45},"delay":0.2}'>Davy Jones</h5>
            </a></div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"from":{"y":22},"delay":0.3}'>The Zita</h6>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 pt-5 pt-xl-7" data-zanim-timeline='{"delay":0.9}' data-zanim-trigger="scroll"><img class="rounded img-fluid" src="../assets/img/team/8.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
          <div class="overflow-hidden">
            <h5 class="fs-9 fw-bold mt-3 mb-1" data-zanim-xs='{"delay":0.2}'>Pintel &amp; Ragetti</h5>
          </div>
          <div class="overflow-hidden">
            <h6 class="text-body fw-normal text-uppercase ls" data-zanim-xs='{"delay":0.3}'>Entertainers</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section id="defaultCta4">

    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <h2>start your career with us</h2>
          <p>Join the highly talented group of artists, engineers, and imagineers.</p><a class="btn btn-outline-dark rounded-pill mt-4" href="#!">See Openings</a>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-black py-6 font-secondary" id="bicycleSignUp">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-5 pe-lg-8">
          <h4 class="text-white text-opacity-85 mb-4">join sparrow</h4><a class="d-inline-block" href="#!"><span class="fa-stack fa-stack-size me-2 text-dark border rounded-circle bg-body fs-8"><i class="fab fa-facebook-f fa-stack-1x"></i></span></a><a class="d-inline-block" href="#!"><span class="fa-stack fa-stack-size me-2 text-dark border rounded-circle bg-body fs-8"><i class="fab fa-instagram fa-stack-1x"></i></span></a><a class="d-inline-block" href="#!"><span class="fa-stack fa-stack-size text-dark border rounded-circle bg-body fs-8"><i class="fab fa-youtube fa-stack-1x"></i></span></a>
          <p class="text-body-tertiary mt-4">Sign up to get the latest News to your inbox.</p>
          <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2" />
            <button class="btn border border-light text-light px-4" id="button-addon2" type="button">Sign up</button>
          </div>
        </div>
        <div class="col mt-6 mt-lg-0">
          <div class="row">
            <div class="col-6 col-sm-4">
              <h4 class="text-white text-opacity-85 mb-4">features</h4>
              <ul class="list-unstyled">
                <li class="py-1"><a class="text-body-tertiary" href="#!">News</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Events</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Technology</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Team &amp; Riders</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Wallpapers</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Find a Retailer</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4">
              <h4 class="text-white text-opacity-85 mb-4">support</h4>
              <ul class="list-unstyled">
                <li class="py-1"><a class="text-body-tertiary" href="#!">Owner's manuals</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Bike Registration</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Newsletter</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Customer Support</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Recall Information</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Bike Archive</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 mt-6 mt-sm-0">
              <h4 class="text-white text-opacity-85 mb-4">company</h4>
              <ul class="list-unstyled">
                <li class="py-1"><a class="text-body-tertiary" href="#!">About Bicycles</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Advocacy</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Privacy</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Terms &amp; Conditions</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Job Openings</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Global Website</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<%- include('0_footer.ejs') %>
<%- include('0_end.ejs') %>