<%- include("0_header.ejs") %>
<%- include ("0_nav.ejs") %>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">
  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div> </div>
        <div></div>
        <div></div>
        <div></div>
        <div> </div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0" id="bigcartel-header">

    <div class="bg-holder overlay overlay-1" style="background-image:url(/assets/img/headers/default_black.jpg);" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
      <video autoplay muted loop playsinline style="position:absolute; top:0; left:0; width:100%; height:100%; object-fit:cover; filter:brightness(0.5)">
        <source src="../assets/video/programsPageVideo.mp4" type="video/mp4">
      </video>
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row min-vh-100 py-8 flex-center text-center">
        <div class="col-lg-8 col-xl-7" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <img class="img-fluid" src="/assets/img/bigcartel1.png" alt="" data-zanim-xs='{"delay":0,"from":{"opacity":0},"to":{"opacity":1}}' />
        </div>
        <div data-parallax="data-parallax" data-rellax-speed="2">
          <div data-zanim-xs='{"delay":0.5}'><a class="btn btn-danger rounded-pill" href="#!">program signup</a></div>
        </div>
      </div>
    </div><a class="indicator indicator-down" data-zanim-timeline='{"delay":1}' data-zanim-trigger="scroll" href="#target-down" data-offset="60"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.25}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.5}'></span></a>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  </section>
  <div id="target-down"></div>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-5 py-md-7" id="defaultServices">

    <div class="container">
      <div class="row justify-content-center gy-4 gx-lg-4">
        <div class="col-12 mb-3 mb-md-5 text-center">
          <h2 class="fs-6 fs-sm-5"><span class="text-decoration-underline">our programs.</span></h2>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="bootstrap5" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-creative.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>creative development</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Creative programs help youth build confidence, develop skills, and explore careers in storytelling and media.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="responsiveCSShelperclasses" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-educational.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>educational advancement</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Educational programs focus on soft and technical skills that prepare youth for post-secondary education and career success. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="butterysmoothanimation" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-skills.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>life habits & skills</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>This program provides practical knowledge, access to resources, and structured guidance to help youth navigate life sustainably.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="modular&amp;amp;multipurpose" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-growth.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>personal growth</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Personal growth programs develop self-belief, emotional awareness, communication skills, and a clearer sense of purpose.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="32setsofelements" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-leadership.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>leadership fostering</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Leadership programs help build confidence, strengthen interpersonal relationships, navigate challenges, and take initiative.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="familiarmarkup" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-community.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>community engagement</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Community programs allows youth to give back, build networks, strengthen cultural connection, and create positive local impact.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="text-center py-0">
    <div class="row">
      <div class="col-lg-12 mb-4 mb-lg-0">
        <div class="swiper theme-slider" data-swiper='{"autoplay":false,"spaceBetween":5,"loop":true,"loopedSlides":5}'>
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="img-fluid" src="../../assets/img/headers/slide-1.jpg" alt="" /></div>
            <div class="swiper-slide"><img class="img-fluid" src="../../assets/img/headers/slide-2.jpg" alt="" /></div>
            <div class="swiper-slide"><img class="img-fluid" src="../../assets/img/headers/slide-3.jpg" alt="" /></div>
            <div class="swiper-slide"><img class="img-fluid" src="../../assets/img/headers/slide-4.jpg" alt="" /></div>
            <div class="swiper-slide"><img class="img-fluid" src="../../assets/img/headers/slide-5.jpg" alt="" /></div>
          </div>
          <div class="swiper-nav">
            <div class="swiper-button-next swiper-button-white me-md-3 me-1"></div>
            <div class="swiper-button-prev swiper-button-white ms-md-3 ms-1"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-light py-5" id="softwareTestimonial">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="row align-items-center mb-7">
            <div class="col-sm-auto">
              <div class="mx-auto ms-sm-0 mb-4 mb-sm-0"><img class="avatar avatar-egg" src="../assets/img/heads/Hannan Hirsu.png" alt="" /></div>
            </div>
            <div class="col ps-5">
              <blockquote class="blockquote" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
                <p class="blockquote-content">Photography has always been something I’ve wanted to do. Participating in this program gave me the opportunity, support and confidence to finally explore it. It helped me learn new skills, I got more comfortable expressing my ideas, and really improving my photography. Overall this program made something I’ve always wanted to do possible. </p>
                <div class="h6 fs-9 fw-black">Hannan Hirsu</div>
                <div class="h6 text-body-tertiary">From Our Lens - Videography Program</div>
              </blockquote>
            </div>
          </div>
          <div class="row align-items-center mb-7">
            <div class="col-sm-auto order-lg-2">
              <div class="mx-auto ms-sm-0 mb-4 mb-sm-0"><img class="avatar avatar-egg" src="../assets/img/heads/Samia Said.png" alt="" /></div>
            </div>
            <div class="col ps-5">
              <blockquote class="blockquote" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
                <p class="blockquote-content">This program really helped me understand marketing in a more practical way. Instead of just learning definitions, I actually learned how marketing works in real situations and how to think like a marketer.</p>
                <div class="h6 fs-9 fw-black">Samia Said</div>
                <div class="h6 text-body-tertiary">Clicks2Cash - Marketing Program</div>
              </blockquote>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-sm-auto">
              <div class="mx-auto ms-sm-0 mb-4 mb-sm-0"><img class="avatar avatar-egg" src="../assets/img/heads/Miski Ahmed.png" alt="" /></div>
            </div>
            <div class="col ps-5">
              <blockquote class="blockquote" data-zanim-xs='{"delay":0.1}' data-zanim-trigger="scroll">
                <p class="blockquote-content">This program changed so much for me. My presentation skills have improved massively, I have met so many new people through this program, and I now have a community of people that support each other. I also am part of a wonderful program because of Lead & Launch where we help the community! </p>
                <div class="h6 fs-9 fw-black">Miski Ahmed</div>
                <div class="h6 text-body-tertiary">Lead & Launch - Project Management Program</div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section id="defaultCta4">

    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <h2>start your career with us</h2>
          <p>Join the highly talented group of artists, engineers, and imagineers.</p><a class="btn btn-outline-dark rounded-pill mt-4" href="#!">See Openings</a>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <%- include("0_footer.ejs") %>
  <%- include("0_end.ejs") %>