<%- include("0_header.ejs") %>
<%- include ("0_nav.ejs") %>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">
  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div> </div>
        <div></div>
        <div></div>
        <div></div>
        <div> </div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->



  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0 text-center" id="bigcartel-header">

    <div class="bg-holder overlay overlay-1" style="background-image:url(/assets/img/headers/bigcartel.jpg);" data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
      <div class="yt-video" data-youtube-embed='{"videoId":"C52wkX97l6M","startSeconds":0,"endSeconds":25}'></div>
    </div>
    <!--/.bg-holder-->

    <div class="container">
      <div class="row min-vh-100 flex-center py-8">
        <div class="col-lg-7" data-zanim-timeline='{"delay":0.6}' data-zanim-trigger="scroll"><img class="img-fluid" src="/assets/img/bigcartel1.png" alt="" data-zanim-xs='{"delay":0,"from":{"opacity":0},"to":{"opacity":1}}' />
          <div class="overflow-hidden mb-4">
            <p class="text-white px-lg-6 font-secondary" data-zanim-xs='{"delay":0}'>The program working to inspire a movement that will shape an entire generation of dreamers, creators, and difference makers for the better.</p>
          </div><a class="cursor-pointer" href="#!" data-bigpicture='{"ytSrc":"CkBJkE7bb4Y"}'>
            <svg class="mx-auto d-block" width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19" data-zanim-svg='{"duration":2,"ease":"CubicBezier"}' data-zanim-svg-trigger="scroll">
              <defs>
                <style>
                  .play-path {
                    fill: none;
                    stroke: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-width: 12px;
                  }
                </style>
              </defs>
              <g>
                <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
              </g>
            </svg></a>
        </div>
      </div><a class="indicator indicator-down" data-zanim-timeline='{"delay":2}' data-zanim-trigger="scroll" href="#target-down"><span class="indicator-arrow indicator-arrow-one border-300" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.25}'></span><span class="indicator-arrow indicator-arrow-two border-300" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.5}'></span></a>
    </div>
    <!-- end of .container-->

  </section>
  <div id="target-down"></div>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-5 pt-md-7 pb-2 pb-lg-3" id="defaultServices">

    <div class="container">
      <div class="row justify-content-center gy-4 gx-lg-4">
        <div class="col-12 mb-3 mb-md-5 text-center">
          <h2 class="fs-6 fs-sm-5"><span class="text-decoration-underline">powerful inside.</span></h2>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="bootstrap5" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/bootstrap.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>bootstrap 5</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="responsiveCSShelperclasses" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-target.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>responsive CSS helper classes</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Toggle styles on any element, across any breakpoint according to Bootstrap grid system, using Sparrow's CSS helper classes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="32setsofelements" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/favorites-button.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>32 sets of elements</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Elegantly redesigned popular plugins including touch sliders, typed text, parallax, video background and more.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="butterysmoothanimation" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-line-chart.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>buttery smooth animation</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Crazy fast, responsive, efficient and freakishly robust GSAP; giving you the new standard for HTML5 and javascript animation.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="modular&amp;amp;multipurpose" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/multi-purpose.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>modular &amp; multipurpose</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Create rich UI and style with sparrow's array of ready-made modular sections - carefully designed for wide range of purposes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex" id="familiarmarkup" data-zanim-trigger="scroll" data-zanim-timeline="{}">
            <div class="overflow-hidden"><img class="me-3 me-sm-4" src="../assets/img/icons/icon-coding.svg" width="50" alt="" data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' /></div>
            <div class="flex-1">
              <div class="overflow-hidden">
                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>familiar markup</h4>
              </div>
              <div class="overflow-hidden">
                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>Based on the Bootstrap 4 code base, sparrow's code is instantly familiar, easy to understand and a straightforward to extend.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->



  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section id="defaultProcess">

    <div class="container">
      <div class="row justify-content-center text-center mb-6">
        <div class="col-lg-6">
          <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-4">the problem</h2>
          <p class="text-body-tertiary fst-italic">The challenges facing Black youth today are not individual failures — </br></br>they are structural.</br></br>Systemic barriers continue to restrict opportunity, visibility, and access and understanding these obstacles is the first step toward building real, sustainable change.</p>
          <hr class="hr-short mt-5" />
        </div>
      </div>
      <div class="row">
        <div class="col-12 ps-lg-7">
          <div class="row align-items-end">
            <div class="col-lg-6 order-lg-2 text-center"><img class="img-fluid" src="../assets/img/illustration/process-01.svg" alt="" width="400" /></div>
            <div class="col-lg-6 border-start-lg border-bottom-lg pb-lg-8 mt-4 mt-lg-0 mb-8 mb-lg-0">
              <div class="process-item ms-6 ms-sm-8 ms-lg-6"><span class="process-item-number">01</span>
                <h3>rising unemployment rates</h3>
                <p>Black youth face significantly higher unemployment, around 18.6% to over 23% nationally in 2025, compared to non-racialized youth (around 10.8%),</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 border-end-lg border-bottom-lg text-center py-lg-8"><img class="img-fluid" src="../assets/img/illustration/process-02.svg" alt="" width="400" /></div>
            <div class="col-lg-6 mt-4 mb-8 my-lg-8">
              <div class="process-item ms-6 ms-sm-8 ms-lg-6"><span class="process-item-number">02</span>
                <h3>Societal Stereotypes</h3>
                <p>Society frequently boxes individuals into roles based on their backgrounds. Black youths, instead of being seen for their potential in diverse fields, are often pigeonholed into specific careers or paths.</p><a class="btn btn-outline-dark btn-sm mt-3" href="#!">View Methods</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 order-lg-2 text-center align-self-center"><img class="img-fluid" src="../assets/img/illustration/process-03.svg" alt="" width="400" /></div>
            <div class="col-lg-6 border-start-lg border-bottom-lg py-lg-8 mt-4 mt-lg-0 mb-8 mb-lg-0">
              <div class="process-item ms-6 ms-sm-8 ms-lg-6"><span class="process-item-number">03</span>
                <h3>educational gaps</h3>
                <p>Mainstream education often lacks tailored courses and practical training for diverse design disciplines, particularly tailored towards the unique experiences and stories of black communities.</p>
              </div>
            </div>
          </div>
          <div class="row pb-1">
            <div class="col-lg-6 border-end-lg text-center py-lg-8"><img class="img-fluid" src="../assets/img/illustration/process-04.svg" alt="" width="400" /></div>
            <div class="col-lg-6 align-self-center mt-4 mt-lg-0 mt-lg-8">
              <div class="process-item process-item-last ms-6 ms-sm-8 ms-lg-6"><span class="process-item-number">04</span>
                <h3>limited representation</h3>
                <p>The design industry, like many professional realms, has long suffered from an underrepresentation of black professionals. This lack of visibility diminishes inspiration sources for young black designers and makes mentorship harder to come by.</p><a class="btn btn-outline-dark btn-sm mt-3" href="../pages/portfolio.html">See portfolio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="text-center py-0" id="interior-projects">

    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-4">our projects</h2>
          <ul class="nav font-secondary mb-2 justify-content-center" data-filter-nav="data-filter-nav">
            <li class="nav-item"><a class="nav-link isotope-nav active" href="#!" data-filter="*">all</a></li>
            <li class="nav-item"><a class="nav-link isotope-nav" href="#!" data-filter=".photography">photography</a></li>
            <li class="nav-item"> <a class="nav-link isotope-nav" href="#!" data-filter=".studio">studio</a></li>
            <li class="nav-item"> <a class="nav-link isotope-nav" href="#!" data-filter=".interior">interior</a></li>
            <li class="nav-item"> <a class="nav-link isotope-nav" href="#!" data-filter=".illustration">illustration</a></li>
          </ul>
          <div class="row g-3 mt-2" id="portfolio-gallery" data-zanim-timeline="{}" data-zanim-trigger="scroll" data-isotope='{"layoutMode":"packery"}'>
            <div class="col-6 col-md-4 isotope-item interior"><a href="#!" data-bp="../assets/img/interior-7-f.jpg" data-bigpicture='{"gallery":"#portfolio-gallery"}' data-caption="my caption"><img class="rounded w-100 fit-cover" src="../assets/img/interior-7.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.1}' /></a></div>
            <div class="col-6 col-md-4 isotope-item studio"><a href="#!" data-bp="../assets/img/interior-11-f.jpg" data-bigpicture='{"gallery":"#portfolio-gallery"}' data-caption="my caption"><img class="rounded w-100 fit-cover" src="../assets/img/interior-11.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.2}' /></a></div>
            <div class="col-6 col-md-4 isotope-item photography"><a href="#!" data-bp="../assets/img/interior-8-f.jpg" data-bigpicture='{"gallery":"#portfolio-gallery"}' data-caption="my caption"><img class="rounded w-100 fit-cover" src="../assets/img/interior-8.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.3}' /></a></div>
            <div class="col-6 col-md-4 isotope-item studio"><a href="#!" data-bp="../assets/img/interior-9-f.jpg" data-bigpicture='{"gallery":"#portfolio-gallery"}' data-caption="my caption"><img class="rounded w-100 fit-cover" src="../assets/img/interior-9.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.4}' /></a></div>
            <div class="col-6 col-md-4 isotope-item photography"><a href="#!" data-bp="../assets/img/interior-12-f.jpg" data-bigpicture='{"gallery":"#portfolio-gallery"}' data-caption="my caption"><img class="rounded w-100 fit-cover" src="../assets/img/interior-12.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.5}' /></a></div>
            <div class="col-6 col-md-4 isotope-item illustration">
              <div class="position-relative"><img class="rounded w-100 fit-cover" src="../assets/img/interior-13.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.6}' /><a class="d-flex align-items-end justify-content-end h-100 pb-3 pe-3 position-absolute bottom-0 end-0" href="#!" data-bigpicture='{"ytSrc":"QD7pOiZBgy0"}' data-options='{"start":1,"end":75}'>
                  <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19" data-zanim-svg='{"duration":2,"ease":"CubicBezier","trigger":"scroll"}'>
                    <defs>
                      <style>
                        .play-path {
                          fill: none;
                          stroke: #ffffff;
                          stroke-linecap: round;
                          stroke-linejoin: round;
                          stroke-width: 12px;
                        }
                      </style>
                    </defs>
                    <g>
                      <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
                    </g>
                  </svg></a></div>
            </div>
            <div class="col-8 isotope-item illustration">
              <div class="swiper theme-slider swiper-theme" data-swiper='{"loop":true,"autoplay":{"delay":3000},"effect":"fade","pagination":{"el":".swiper-pagination","clickable":true,"type":"bullets"}}'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img class="w-100 fit-cover rounded" src="../assets/img/interior-14.jpg" alt="" /></div>
                  <div class="swiper-slide"> <img class="w-100 fit-cover rounded" src="../assets/img/interior-15.jpg" alt="" /></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-nav">
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"> </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 isotope-item photography"><a href="../pages/casestudy.html" data-caption="my caption"><img class="rounded w-100 fit-cover" src="../assets/img/interior-10.jpg" alt="" data-zanim-xs='{"animation":"zoom-in","delay":0.5}' /></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section id="defaultCta4">

    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <h2>start your career with us</h2>
          <p>Join the highly talented group of artists, engineers, and imagineers.</p><a class="btn btn-outline-dark rounded-pill mt-4" href="#!">See Openings</a>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="bg-black py-6 font-secondary" id="bicycleSignUp">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-5 pe-lg-8">
          <h4 class="text-white text-opacity-85 mb-4">join sparrow</h4><a class="d-inline-block" href="#!"><span class="fa-stack fa-stack-size me-2 text-dark border rounded-circle bg-body fs-8"><i class="fab fa-facebook-f fa-stack-1x"></i></span></a><a class="d-inline-block" href="#!"><span class="fa-stack fa-stack-size me-2 text-dark border rounded-circle bg-body fs-8"><i class="fab fa-instagram fa-stack-1x"></i></span></a><a class="d-inline-block" href="#!"><span class="fa-stack fa-stack-size text-dark border rounded-circle bg-body fs-8"><i class="fab fa-youtube fa-stack-1x"></i></span></a>
          <p class="text-body-tertiary mt-4">Sign up to get the latest News to your inbox.</p>
          <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2" />
            <button class="btn border border-light text-light px-4" id="button-addon2" type="button">Sign up</button>
          </div>
        </div>
        <div class="col mt-6 mt-lg-0">
          <div class="row">
            <div class="col-6 col-sm-4">
              <h4 class="text-white text-opacity-85 mb-4">features</h4>
              <ul class="list-unstyled">
                <li class="py-1"><a class="text-body-tertiary" href="#!">News</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Events</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Technology</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Team &amp; Riders</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Wallpapers</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Find a Retailer</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4">
              <h4 class="text-white text-opacity-85 mb-4">support</h4>
              <ul class="list-unstyled">
                <li class="py-1"><a class="text-body-tertiary" href="#!">Owner's manuals</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Bike Registration</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Newsletter</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Customer Support</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Recall Information</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Bike Archive</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-4 mt-6 mt-sm-0">
              <h4 class="text-white text-opacity-85 mb-4">company</h4>
              <ul class="list-unstyled">
                <li class="py-1"><a class="text-body-tertiary" href="#!">About Bicycles</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Advocacy</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Privacy</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Terms &amp; Conditions</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Job Openings</a></li>
                <li class="py-1"><a class="text-body-tertiary" href="#!">Global Website</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<%- include("0_footer.ejs") %>
<%- include("0_end.ejs") %>